<div class="py-4">
  <section id="news">
    <div class="container">
      <div class="row">
        <div class="coi-md-2">
          <h3>News</h3>
        </div>
        <div class="col-md-10">
          <dl class="row">
            <dt class="col-md-3">日付</dt>
            <dt class="col-md-9">メッセージ</dt>
            <dt class="col-md-3">日付</dt>
            <dt class="col-md-9">メッセージ</dt>
            <dt class="col-md-3">日付</dt>
            <dt class="col-md-9">メッセージ</dt>
          </dl>
        </div>
      </div>
    </div>
  </section>
</div>