<h1><%= @user.name %>さま</h1>

<p>Tsumiageにご利用ありがとうございます。</p>

<p><%= link_to "こちらのリンク", edit_password_reset_url(@user.reset_token, email: @user.email) %>
からパスワードの再登録をお願いします。</p>

<p>有効期限は30分間です。</p>


<p>-----</p>

<p>このメールアドレスは送信専用です。</p>