<%= paginate @users %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user ,'data-toggle': "modal", 'data-target': "#userModal" %>
      <%= render 'users/user_modal' %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>