<%= search_form_for @q, url: index_posts_path, html: { method: :post } do |f| %>
  <div class="form-group row">
    <div class="col-md-2"></div>
    <%= f.label :title, "投稿検索", class:"col-3 col-md-2 col-form-label text-right" %>
    <%= f.search_field :title_cont ,class: "form-control serch_form col-6 col-md-4" %>
  
    <%= f.submit "検索", class: "btn btn-purple-moon btn-rounded" %>
  </div>
<% end %>