<% if model && model.errors.any? %>
  <div class="alert alert-warning text-left">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>